{% block content %}
{% load static %}

<style>
    body {
        font-family: 'Salsa', cursive;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        background-image: url('{% static "images/image.jpg" %}');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: rgb(156, 156, 214);
    }

    .logo-container {
        max-width: 200px;
        padding-top: 3%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .logo-container img {
        max-width: 100%;
        height: auto;
    }

    .form-container {
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 30px;
        width: 100%;
        max-width: 400px;
        text-align: center;
    }

    input[type=text],
    input[type=password] {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    #btn {
        width: 100%;
        padding: 10px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 18px;
    }

    #btn:hover {
        background-color: black;
    }
</style>

<div class="logo-container">
    <img src="{% static 'images/logo.jpg' %}" alt="VMS Logo">
</div>

<div class="form-container">
    <h1>Visitor Management</h1>    <form name="form" action="{% url 'visitor_app:all_data' %}" method="POST">
        
        {% csrf_token %}
        <div class="input_field">
            <label for="user"><b>Username:</b></label><br>
            <input type="text" id="user" name="username" required><br>
        </div>
        <div class="input_field">
            <label for="pass"><b>Password:</b></label><br>
            <input type="password" id="pass" name="password" required><br>
        </div>
        <div class="input_field">
            <input type="submit" id="btn" value="Login" name="submit"/>
        </div>
    </form>
</div>

<script src="{% static 'login.js' %}"></script>
{% endblock %}
